.pokemon {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .15);
    padding: 1rem;
    background-color: grey;
    margin: 1rem;
    width: 120px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.header {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-primary-light);
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    width: 80rem;
}
.pokedex-list {
    display: flex;
    min-width: 20%;
    margin-left: 5rem;
    flex-wrap: wrap;
}
.pokedex-buttons {
    display: flex;
}

.nav {
    padding: 1rem;
}
.active {
    background-color: white;
}